/* CSS contenu général */
body, html {
    overflow-x: hidden;
}
.container-fill-height {
    display: table;
    width: 100%;
    height: 100%;
}
.container-fill-height .container-content-bottom,
.container-fill-height .container-content-middle {
    display: table-cell;
    vertical-align: middle;
}
.container-fill-height .container-content-bottom {
    vertical-align: bottom;
}
.colonne-g {
    height: auto;
    background-color: #ffe436;
}


.rounded-circle {
    border-radius: 50% !important;
}
.media-object {
    display: inline-block;
    width: 80px;
    margin-right: 0;
}
.list-group-item {
    background: transparent !important;
    border: none !important;
}
ul li a {
    color: #122a38;
}
.text-yellow {
    color: #ffe436;
}
.border-yellow {
    border-bottom: 2px solid #ffe436 !important;
}
.loisirs{
    height: 75px !important;
    width: 75px !important;
    font-size: 2rem !important;
}

.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mid-animate {
    opacity: 0;
}

.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #273444 ;
}

.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #273444 ;
}

.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #273444 ;
}

.menui {
    background: #273444 ;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}

.iconmenu {
    z-index: 999;
    position: fixed;
    display: block;
    padding: 9px;
    height: 32px;
    width: 32px;
    margin-right: 0px;
    right: 50px;
}

.mobilenav {
    font-family: inherit;
    top: 0;
    left: 0;
    z-index: 4000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 177.9deg,  rgba(58,62,88,1) 3.6%, rgba(119,127,148,1) 105.8% );

    box-sizing: border-box;
}
.list-hamb{
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
}
.mobilenav li {
    list-style-type: none;
}

.menuhamb {
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 4.5vw;
}

.menuhamb:hover {
    color: rgb(167, 167, 167)
}
